{{ if {session:has key="customer_logged_in"} == true }}
	{{ redirect to="/" }}
{{ /if }}
			<!-- Account Page section -->
			<section class="my-account-page">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- account form -->
							<div class="account-form">
								<!-- module header -->
								<div class="module-header">
									<!-- page title -->
									<h1>Forgot Password</h1>
									<p>Already have an account? <a href="{{ site_url }}/sign-up" class="link">Sign up</a></p>
								</div>

								<div id="forgotResponse" style="display:none; margin:10px 0; padding:10px; border-radius:3px; color:white;"></div>

								<form class="all-form" id="forgotPasswordForm">
									<div class="form-group">
										<label for="Email">Enter your email</label>
										<input type="email" name="email" class="form-control" id="Email">
									</div>
									<button type="submit" class="btn btn-dark btn-style-2">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</section>
			<!--/ End Account Page section -->