
		<footer class="footer-style-3">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- column -->
					<div class="col-12">
						<!-- footer top -->
						<div class="footer-top">
							<!-- site-brand -->
							<div class="site-brand" style="text-align: -webkit-center;">
								<a href="{{ site:url }}">
									{{ common_setting:white_logo }}
									<img src="{{ url }}" alt="logo">
									{{ /common_setting:white_logo }}
								</a>
							</div>
							<!-- footer menu -->
							<div class="footer-menu">
								<ul class="menu">
									{{ common_setting:footer3_menu }}
									<li><a href="{{ site_url }}{{ footer3_menu_url }}">{{ footer3_menu_title }}</a></li>
									{{ /common_setting:footer3_menu }}
								</ul>
							</div>
							<!-- footer menu -->
							<div class="footer-cms-menu">
								<ul class="menu">
									{{ common_setting:footer3_second_menu }}
									<li><a href="{{ site_url }}{{ footer3_second_menu_url }}">{{ footer3_second_menu_title }}</a></li>
									{{ /common_setting:footer3_second_menu }}
								</ul>
							</div>
						</div>
						<!-- footer bottom -->
						<div class="footer-bottom">
							<!-- row -->
							<div class="row">
								<!-- column -->
								<div class="col-12 col-md-6">
									<!-- site-copyright -->
									<div class="site-copyright">
										<p>{{ common_setting:footer_copyrights }}</p>
									</div>
								</div>
								<!-- column -->
								<div class="col-12 col-md-6">
									<!-- payments icon -->
									<div class="payments-icon">
										{{ common_setting:footer_payments_icon }}
										<img src="{{ url }}" alt="payments icon">
										{{ /common_setting:footer_payments_icon }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>