
<header class="site-header header-type1">
    <!-- Topbar -->
    {{ partial:topbar }}
    <!-- End Topbar -->

    <!-- start header-main -->
    <div class="header-main">
        {{ partial:header_main }}
    </div>
    <!-- end header-main -->

    <!-- mini cart dropdown -->
    <div class="mini-cart-dropdown">
        {{ partial:mini_cart }}
    </div>
    <!-- end mini cart dropdown -->

    <!-- Header-navbar -->
    <div class="header-row header-navbar">
        {{ partial:navbar }}
    </div>
    <!--/ End Header-navbar -->

    <!-- mobile menu -->
    <div class="mobile-menu">
        {{ partial:mobile_menu }}
    </div>
</header>