
<!-- Hero grid banner section -->
<section class="hero-grid-banner-section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- column -->
			<div class="col-12 col-md-6 order-2 order-md-1">
				<!-- hero banner content -->
				<div class="hero-banner-content">
					<h4 class="entry-subtitle">{{ home3_setting:hero_sub_title }}</h4>
					<h1>{{ home3_setting:hero_title }}</h1>
					<p>{{ home3_setting:hero_description }}</p>
					<a href="{{ site_url }}{{ home3_setting:hero_button_link }}" class="btn btn-dark btn-style-2">{{ home3_setting:hero_button_name }}</a>
				</div>
			</div>
			<!-- column -->
			<div class="col-12 col-md-6  order-1 order-md-2">
				<!-- Hero banner img -->
				<div class="hero-banner-img">
					{{ home3_setting:hero_banner }}
					<img src="{{ url }}" alt="hero-grid-img">
					{{ /home3_setting:hero_banner }}
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Hero slider section -->

<!-- Last Chance Sale section -->
<section class="last-chance-sale-section style-3  section-two">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- column -->
			<div class="col-12">
				<!-- module header -->
				<div class="module-header style-3">
					<div class="module-header-left">
						<h2 class="entry-title">{{ home3_setting:last_chance_sale_title }}</h2>
						<p>{{ home3_setting:last_chance_sale_description }}</p>
					</div>
					<div class="entry-header-right">
						<!-- product countdown -->
						<div class="product-countdown">
							<div id="countdown">
								<ul>
									<li><span id="days"></span>days</li>
									<li><span id="hours"></span>Hours</li>
									<li><span id="minutes"></span>Minutes</li>
									<li><span id="seconds"></span>Seconds</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- row -->
				<div class="row">
					<!-- column -->
					<div class="col-12 col-md-6 col-lg-3">
						<!-- Product -->
						<div class="product product-style-4">
							<!-- product thumbnail -->
							<div class="product-thumbnail">
								<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/last-chance-sale-img1.jpg" alt="best sellers products img"></a>

								<!-- product buttons icon-->
								<div class="product-buttons-icon">
									<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
									<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
									<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
								</div>
							</div>
							<!-- product content -->
							<div class="product-content">
								<!-- product tile -->
								<h3 class="product-title">
									<a href="product-detail-3.html">Coastal Linen S/S Shirt</a>
								</h3>
								<!-- product price -->
								<span class="price"><ins>$499.00</ins></span>
							</div>
						</div>
					</div>
					<!-- column -->
					<div class="col-12 col-md-6 col-lg-3">
						<!-- Product -->
						<div class="product product-style-4">
							<!-- product thumbnail -->
							<div class="product-thumbnail">
								<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/last-chance-sale-img2.jpg" alt="best sellers products img"></a>

								<!-- product buttons icon-->
								<div class="product-buttons-icon">
									<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
									<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
									<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
								</div>
							</div>
							<!-- product content -->
							<div class="product-content">
								<!-- product tile -->
								<h3 class="product-title">
									<a href="product-detail-3.html">Coastal Linen S/S Shirt</a>
								</h3>
								<!-- product price -->
								<span class="price"><ins>$499.00</ins></span>
							</div>
						</div>
					</div>
					<!-- column -->
					<div class="col-12 col-md-6 col-lg-3">
						<!-- Product -->
						<div class="product product-style-4">
							<!-- product thumbnail -->
							<div class="product-thumbnail">
								<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/last-chance-sale-img3.jpg" alt="best sellers products img"></a>

								<!-- product buttons icon-->
								<div class="product-buttons-icon">
									<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
									<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
									<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
								</div>
							</div>
							<!-- product content -->
							<div class="product-content">
								<!-- product tile -->
								<h3 class="product-title">
									<a href="product-detail-3.html">Coastal Linen S/S Shirt</a>
								</h3>
								<!-- product price -->
								<span class="price"><ins>$499.00</ins></span>
							</div>
						</div>
					</div>
					<!-- column -->
					<div class="col-12 col-md-6 col-lg-3">
						<!-- Product -->
						<div class="product product-style-4">
							<!-- product thumbnail -->
							<div class="product-thumbnail">
								<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/last-chance-sale-img4.jpg" alt="best sellers products img"></a>

								<!-- -->
								<div class="product-badges onhot">
									<span class="badge">HOT</span>
								</div>

								<!-- product buttons icon-->
								<div class="product-buttons-icon">
									<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
									<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
									<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
								</div>
							</div>
							<!-- product content -->
							<div class="product-content">
								<!-- product tile -->
								<h3 class="product-title">
									<a href="product-detail-3.html">Coastal Linen S/S Shirt</a>
								</h3>
								<!-- product price -->
								<span class="price"><ins>$499.00</ins></span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Last Chance Sale section -->

<!-- Popular Categories section -->
<section class="popular-categories-section style-3 section-two">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- column -->
			<div class="col-12">
				<!-- module header -->
				<div class="module-header style-3">
					<div class="module-header-left">
						<h2 class="entry-title">{{ home3_setting:popular_categories_heading }}</h2>
						<p>{{ home3_setting:popular_categories_sub_content }}</p>
					</div>
				</div>

				<!-- Popular Categories grid -->
				<div class="popular-categories-grid">
					<!-- Popular Categories -->
					<div class="popular-categories">
						<!-- Popular Categories img -->
						<div class="popular-categories-img">
							<a href="shop-right-sidebar.html"><img src="assets/images/popular-categories-img1.jpg" alt="categories img"></a>
						</div>
						<!-- Popular Categories title -->
						<div class="popular-categories-title">
							<h6><a href="shop-right-sidebar.html">Sunglasses</a></h6>
						</div>
					</div>
					<!-- Popular Categories -->
					<div class="popular-categories">
						<!-- Popular Categories img -->
						<div class="popular-categories-img">
							<a href="shop-right-sidebar.html"><img src="assets/images/popular-categories-img2.jpg" alt="categories img"></a>
						</div>
						<!-- Popular Categories title -->
						<div class="popular-categories-title">
							<h6><a href="shop-right-sidebar.html">Jewellery</a></h6>
						</div>
					</div>
					<!-- Popular Categories -->
					<div class="popular-categories">
						<!-- Popular Categories img -->
						<div class="popular-categories-img">
							<a href="shop-right-sidebar.html"><img src="assets/images/popular-categories-img3.jpg" alt="categories img"></a>
						</div>
						<!-- Popular Categories title -->
						<div class="popular-categories-title">
							<h6><a href="shop-right-sidebar.html">Denims</a></h6>
						</div>
					</div>
					<!-- Popular Categories -->
					<div class="popular-categories">
						<!-- Popular Categories img -->
						<div class="popular-categories-img">
							<a href="shop-right-sidebar.html"><img src="assets/images/popular-categories-img4.jpg" alt="categories img"></a>
						</div>
						<!-- Popular Categories title -->
						<div class="popular-categories-title">
							<h6><a href="shop-right-sidebar.html">Tops</a></h6>
						</div>
					</div>
					<!-- Popular Categories -->
					<div class="popular-categories">
						<!-- Popular Categories img -->
						<div class="popular-categories-img">
							<a href="shop-right-sidebar.html"><img src="assets/images/popular-categories-img5.jpg" alt="categories img"></a>
						</div>
						<!-- Popular Categories title -->
						<div class="popular-categories-title">
							<h6><a href="shop-right-sidebar.html">Dresses</a></h6>
						</div>
					</div>
					<!-- Popular Categories -->
					<div class="popular-categories">
						<!-- Popular Categories img -->
						<div class="popular-categories-img">
							<a href="shop-right-sidebar.html"><img src="assets/images/popular-categories-img6.jpg" alt="categories img"></a>
						</div>
						<!-- Popular Categories title -->
						<div class="popular-categories-title">
							<h6><a href="shop-right-sidebar.html">Shoes</a></h6>
						</div>
					</div>
					<!-- Popular Categories -->
					<div class="popular-categories">
						<!-- Popular Categories img -->
						<div class="popular-categories-img">
							<a href="shop-right-sidebar.html"><img src="assets/images/popular-categories-img7.jpg" alt="categories img"></a>
						</div>
						<!-- Popular Categories title -->
						<div class="popular-categories-title">
							<h6><a href="shop-right-sidebar.html">Sweaters</a></h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Popular Categories section -->

<!-- Top collection section -->
<section class="top-collection-section style-3 section-two">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- column -->
			<div class="col-12">
				<!-- module header -->
				<div class="module-header">
					<h2 class="entry-title">Top collection</h2>
				</div>

				<!-- Feature Products grid -->
				<div class="bestsellers-products-grid">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12 col-lg-6">
							<!-- banner -->
							<div class="banner">
								<!-- banner content-->
								<div class="banner-content">
									<h2 class="entry-title">{{ home3_setting:top_collection:top_collection_title }}</h2>
									<a href="{{ site_url }}{{ home3_setting:top_collection:top_collection_button_url }}" class="btn btn-dark">{{ home3_setting:top_collection:top_collection_button_text }}</a>
								</div>
								<!-- banner image-->
								<div class="banner-image">
									{{ home3_setting:top_collection:top_collection_banner_image }}
									<img src="{{ url }}" alt="banner img 1">
									{{ /home3_setting:top_collection:top_collection_banner_image }}
								</div>
							</div>
						</div>
						<!-- column -->
						<div class="col-12 col-lg-6">
							<!-- row -->
							<div class="row">
								<!-- column -->
								<div class="col-12 col-md-6">
									<!-- Product -->
									<div class="product product-style-4">
										<!-- product thumbnail -->
										<div class="product-thumbnail">
											<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/top-collection-img1.jpg" alt="top sellers collection img"></a>

											<!-- -->
											<div class="product-badges">
												<span class="badge  onsale">-15%</span>
											</div>

											<!-- product buttons icon-->
											<div class="product-buttons-icon">
												<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
												<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
												<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
											</div>
										</div>
										<!-- product content -->
										<div class="product-content">
											<!-- product tile -->
											<h3 class="product-title">
												<a href="product-detail-3.html">Casual cotton t-shirt</a>
											</h3>
											<!-- product price -->
											<span class="price"><ins>$199.00</ins></span>
										</div>
									</div>
								</div>
								<!-- column -->
								<div class="col-12 col-md-6">
									<!-- Product -->
									<div class="product product-style-4">
										<!-- product thumbnail -->
										<div class="product-thumbnail">
											<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/top-collection-img2.jpg" alt="top sellers collection img"></a>

											<!-- -->
											<div class="product-badges">
												<span class="badge  onsale">-15%</span>
											</div>

											<!-- product buttons icon-->
											<div class="product-buttons-icon">
												<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
												<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
												<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
											</div>
										</div>
										<!-- product content -->
										<div class="product-content">
											<!-- product tile -->
											<h3 class="product-title">
												<a href="product-detail-3.html">Casual cotton t-shirt</a>
											</h3>
											<!-- product price -->
											<span class="price"><ins>$199.00</ins></span>
										</div>
									</div>
								</div>
								<!-- column -->
								<div class="col-12 col-md-6">
									<!-- Product -->
									<div class="product product-style-4">
										<!-- product thumbnail -->
										<div class="product-thumbnail">
											<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/top-collection-img3.jpg" alt="top sellers collection img"></a>

											<!-- -->
											<div class="product-badges">
												<span class="badge  onsale">-15%</span>
											</div>

											<!-- product buttons icon-->
											<div class="product-buttons-icon">
												<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
												<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
												<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
											</div>
										</div>
										<!-- product content -->
										<div class="product-content">
											<!-- product tile -->
											<h3 class="product-title">
												<a href="product-detail-3.html">Casual cotton t-shirt</a>
											</h3>
											<!-- product price -->
											<span class="price"><ins>$199.00</ins></span>
										</div>
									</div>
								</div>
								<!-- column -->
								<div class="col-12 col-md-6">
									<!-- Product -->
									<div class="product product-style-4">
										<!-- product thumbnail -->
										<div class="product-thumbnail">
											<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/top-collection-img4.jpg" alt="top sellers collection img"></a>

											<!-- -->
											<div class="product-badges">
												<span class="badge  onsale">-15%</span>
											</div>

											<!-- product buttons icon-->
											<div class="product-buttons-icon">
												<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
												<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
												<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
											</div>
										</div>
										<!-- product content -->
										<div class="product-content">
											<!-- product tile -->
											<h3 class="product-title">
												<a href="product-detail-3.html">Casual cotton t-shirt</a>
											</h3>
											<!-- product price -->
											<span class="price"><ins>$199.00</ins></span>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Top collection section -->

<!-- offer banner section -->
<section class="offer-banner-section style-3 section-two">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- column -->
			<div class="col-12">
				<!-- offer banner -->
				<div class="offer-banner">
					<div class="offer-banner-img">
						{{ home3_setting:new_collection:new_collection_banner_image }}
						<img src="{{ url }}" alt="urban-banner-img">
						{{ /home3_setting:new_collection:new_collection_banner_image }}
					</div>
					<!-- offer banner content -->
					<div class="offer-banner-content">
						<h4 class="entry-subtitle">{{ home3_setting:new_collection:new_collection_sub_title }}</h4>
						<h2>{{ home3_setting:new_collection:new_collection_title }}</h2>
						<a href="{{ site_url }}{{ home3_setting:new_collection:new_collection_button_url }}" class="btn btn-dark btn-style-2">{{ home3_setting:new_collection:new_collection_button_text }}</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End  offer banner section -->

<!-- New arrival section -->
<section class="new-arrival-section style-3 section-two">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- column -->
			<div class="col-12">
				<!-- module header -->
				<div class="module-header style-3">
					<div class="module-header-left">
						<h2 class="entry-title">{{ home3_setting:new_arrivals_heading }}</h2>
						<p>{{ home3_setting:new_arrivals_sub_content }}</p>
					</div>
					<div class="entry-header-right">
						<a href="{{ site_url }}{{ home3_setting:new_arrivals_button_url }}" class="btn btn-dark btn-style-2">{{ home3_setting:new_arrivals_button_text }}</a>
					</div>
				</div>

				<!-- New arrival slider -->
				<div class="new-arrival-slider">

					<!-- swiper -->
					<div class="swiper mySwiper">
						<!-- swiper wrapper -->
						<div class="swiper-wrapper">
							<!-- swiper slide -->
							<div class="swiper-slide">
								<!-- Product -->
								<div class="product product-style-4">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/new-arrival-img5.jpg" alt="new arrival products img"></a>

										<!-- -->
										<div class="product-badges">
											<span class="badge  onsale">-15%</span>
										</div>

										<!-- product buttons icon-->
										<div class="product-buttons-icon">
											<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
											<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
											<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product tile -->
										<h3 class="product-title">
											<a href="product-detail-3.html">Stonewashed Utility Jacket</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>$188.00</ins></span>
									</div>
								</div>
							</div>
							<!-- swiper slide -->
							<div class="swiper-slide">
								<!-- Product -->
								<div class="product product-style-4">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/new-arrival-img1.jpg" alt="new arrival products img"></a>

										<!-- -->
										<div class="product-badges">
											<span class="badge  onsale">-15%</span>
										</div>

										<!-- product buttons icon-->
										<div class="product-buttons-icon">
											<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
											<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
											<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product tile -->
										<h3 class="product-title">
											<a href="product-detail-3.html">Nike Air Max 97 OG</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>$299.00</ins></span>
									</div>
								</div>
							</div>
							<!-- swiper slide -->
							<div class="swiper-slide">
								<!-- Product -->
								<div class="product product-style-4">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/new-arrival-img6.jpg" alt="new arrival products img"></a>

										<!-- -->
										<div class="product-badges">
											<span class="badge  onsale">-15%</span>
										</div>

										<!-- product buttons icon-->
										<div class="product-buttons-icon">
											<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
											<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
											<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product tile -->
										<h3 class="product-title">
											<a href="product-detail-3.html">Boys white t shirt</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>$99.00</ins></span>
									</div>
								</div>
							</div>
							<!-- swiper slide -->
							<div class="swiper-slide">
								<!-- Product -->
								<div class="product product-style-4">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/new-arrival-img7.jpg" alt="new arrival products img"></a>

										<!-- -->
										<div class="product-badges">
											<span class="badge  onsale">-15%</span>
										</div>

										<!-- product buttons icon-->
										<div class="product-buttons-icon">
											<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
											<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
											<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product tile -->
										<h3 class="product-title">
											<a href="product-detail-3.html">Stonewashed Utility Jacket</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>$435.00</ins></span>
									</div>
								</div>
							</div>
							<!-- swiper slide -->
							<div class="swiper-slide">
								<!-- Product -->
								<div class="product product-style-4">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="product-detail-3.html" class="thumbnail"><img src="assets/images/new-arrival-img3.jpg" alt="new arrival products img"></a>

										<!-- -->
										<div class="product-badges">
											<span class="badge  onsale">-15%</span>
										</div>

										<!-- product buttons icon-->
										<div class="product-buttons-icon">
											<a href="product-detail-3.html" class="arrow-icon"><span class="ti-eye"></span></a>
											<a href="cart.html" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
											<a href="wishlist.html" class="arrow-icon"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product tile -->
										<h3 class="product-title">
											<a href="product-detail-3.html">Boys white t shirt</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>$99.00</ins></span>
									</div>
								</div>
							</div>


						</div>
						<!-- slider arrow -->
						<div class="swiper-button-prev"><span class="ti-arrow-left"></span></div>
						<div class="swiper-button-next"><span class="ti-arrow-right"></span></div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End New arrival section -->

<!-- Latest bloog & news section -->
<section class="blogs-and-news-section section-two">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- column -->
			<div class="col-12">
				<!-- module header -->
				<div class="module-header  style-3">
					<div class="module-header-left">
						<h2 class="entry-title">{{ home3_setting:latest_blogs_heading }}</h2>
						<p>{{ home3_setting:latest_blogs_sub_content }}</p>
					</div>
					<div class="entry-header-right">
						<a href="{{ site_url }}{{ home3_setting:latest_blogs_button_url }}" class="btn btn-dark btn-style-2">{{ home3_setting:latest_blogs_button_text }}</a>
					</div>
				</div>
			</div>
		</div>

		<!-- row -->
		<div class="row">
			<!-- column -->
			<div class="col-12 col-md-6">
				<!-- blog grid-->
				<div class="blog-grid-style-2">
					<!-- blog grid image-->
					<div class="blog-grid-image">
						<a href="blog-detail.html"><img src="assets/images/blog-img4.jpg" alt="blog img 1"></a>
						<div class="blog-date">23 March 2022</div>
					</div>
					<!-- blog grid content-->
					<div class="blog-grid-content">
						<h5 class="entry-title"><a href="blog-detail.html">Fames ac turpis egestas maecenas</a></h5>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
					</div>
				</div>
			</div>
			<!-- column -->
			<div class="col-12 col-md-6">
				<!-- blog grid-->
				<div class="blog-grid-style-2">
					<!-- blog grid image-->
					<div class="blog-grid-image">
						<a href="blog-detail.html"><img src="assets/images/blog-img5.jpg" alt="blog img 1"></a>
						<div class="blog-date">23 March 2022</div>
					</div>
					<!-- blog grid content-->
					<div class="blog-grid-content">
						<h5 class="entry-title"><a href="blog-detail.html">Fames ac turpis egestas maecenas</a></h5>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!--/ End Latest bloog & news section -->

<!-- Shop Social section -->
<section class="shop-social-section section-all">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- column -->
			<div class="col-12 col-md-6">
				<!-- Shop Social -->
				<div class="shop-social-left">
					<h2 class="entry-title">{{ home3_setting:social_title }}</h2>
					<p>{{ home3_setting:social_description }}</p>
					<div class="shop-social-icon">
						<ul>
							{{ home3_setting:shop_socials }}
							<li><a href="{{ shop_social_url }}"><i class="{{ shop_social_icon }}"></i></a></li>
							{{ /home3_setting:shop_socials }}
						</ul>
					</div>
				</div>
			</div>
			<!-- column -->
			<div class="col-12 col-md-6">
				<!-- Get the Latest Deals -->
				<div class="get-the-latest-deals">
					<h2 class="entry-title">{{ home3_setting:deal_title }}</h2>
					<p>{{ home3_setting:deal_description }}</p>

					<!-- newsletter form -->
					<form action="#" class="newsletter-form">
						<input type="email" placeholder="Email address" class="form-control" required>
						<button type="submit" class="btn btn-light">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Shop Social section -->

<!-- instagram section -->
<div class="instagram-section section-two">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- column -->
			<div class="col-4 col-sm-4 col-md-3">
				<!-- instagram box -->
				<div class="instagram-box">
					<img src="assets/images/popular-categories-img3.jpg" alt="instagram img 1">
					<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
				</div>
			</div>
			<!-- column -->
			<div class="col-4 col-sm-4 col-md-3">
				<!-- instagram box -->
				<div class="instagram-box">
					<img src="assets/images/hero-grid-img.jpg" alt="instagram img 1">
					<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
				</div>
			</div>
			<!-- column -->
			<div class="col-4 col-sm-4 col-md-3">
				<!-- instagram box -->
				<div class="instagram-box">
					<img src="assets/images/products-img3.jpg" alt="instagram img 1">
					<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
				</div>
			</div>
			<!-- column -->
			<div class="col-4 col-sm-4 col-md-3">
				<!-- instagram box -->
				<div class="instagram-box">
					<img src="assets/images/weekly-product-img1.jpg" alt="instagram img 1">
					<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
				</div>
			</div>
			<!-- column -->
			<div class="col-4 col-sm-4 col-md-3">
				<!-- instagram box -->
				<div class="instagram-box">
					<img src="assets/images/popular-categories-img2.jpg" alt="instagram img 1">
					<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
				</div>
			</div>
			<!-- column -->
			<div class="col-4 col-sm-4 col-md-3">
				<!-- instagram box -->
				<div class="instagram-box">
					<img src="assets/images/products-img12.jpg" alt="instagram img 1">
					<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
				</div>
			</div>
			<!-- column -->
			<div class="col-4 col-sm-4 col-md-3">
				<!-- instagram box -->
				<div class="instagram-box">
					<img src="assets/images/top-collection-img2.jpg" alt="instagram img 1">
					<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
				</div>
			</div>
			<!-- column -->
			<div class="col-4 col-sm-4 col-md-3">
				<!-- instagram box -->
				<div class="instagram-box">
					<img src="assets/images/season-product-img2.jpg" alt="instagram img 1">
					<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ End instagram section -->
