
<div class="topbar">
    <!-- container -->
    <div class="container">
        <!-- header-wrapper -->
        <div class="header-wrapper d-inline-flex align-items-center justify-content-between">
            <!-- Top Left -->
            <div class="column top-left">
                <!-- header-message -->
                <div class="header-message">
                    <p>{{ common_setting:offer_text }} <a href="/shop">Click and Shop Now.</a></p>
                </div>
            </div>
            <!--/ End Top Left -->
            <!-- Top Right -->
            <div class="column top-right">
                <!-- site-nav -->
                <nav class="site-nav horizontal">
                    <ul class="menu-top-right">
                        <li><a href="#">Order Tracking</a></li>
                        <li class="menu-item-has-children"><a href="#">English</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2498"><a href="#">English</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2497"><a href="#">Spanish</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2499"><a href="#">German</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">USD</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2498"><a href="#">USD</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2497"><a href="#">INR</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2499"><a href="#">GBP</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End Top Right -->
        </div>
    </div>
</div>