
			<!-- instagram section -->
			<div class="instagram-section section-two">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">

						{{ galleries }}
						<!-- column -->
						<div class="col-4 col-sm-4 col-md-3">
							<!-- instagram box -->
							<div class="instagram-box">
								<img src="{{ url }}" alt="instagram img 1">
								<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
							</div>
						</div>
						{{ /galleries }}

					</div>
				</div>
			</div>
			<!--/ End instagram section -->