
			<!-- Shop Social section -->
			<section class="shop-social-section section-all">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12 col-md-6">
							<!-- Shop Social -->
							<div class="shop-social-left">
								<h2 class="entry-title">{{ part_1_title }}</h2>
								<p>{{ part_1_description }}</p>
								<div class="shop-social-icon">
									<ul>
										{{ part_socials }}
										<li><a href="{{ part_social_link }}"><i class="{{ part_social_class }}"></i></a></li>
										{{ /part_socials }}
									</ul>
								</div>
							</div>
						</div>
						<!-- column -->
						<div class="col-12 col-md-6">
							<!-- Get the Latest Deals -->
							<div class="get-the-latest-deals">
								<h2 class="entry-title">{{ part_2_title }}</h2>
								<p>{{ part_2_description }}</p>

								<!-- newsletter form -->
								<form action="#" class="newsletter-form">
									<input type="hidden" name="type" value="simple">
									<input type="email" placeholder="Email address" class="form-control" required name="email">
									<button type="submit" class="btn btn-light">Submit</button>
								</form>
								<p class="form-message" style="display:none;text-align: left;"></p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Shop Social section -->