
			<!-- New arrival section -->
			<section class="new-arrival-section section-two">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- module header -->
							<div class="module-header">
								<h2 class="entry-title">{{ section_title }}</h2>
								<div class="entry-header-right">
									{{ section_buttons }}
									<a href="{{ site_url }}{{ section_button_link }}" class="btn btn-dark btn-style-2">{{ section_button_name }}</a>
									{{ /section_buttons }}
								</div>
							</div>

							<!-- New arrival slider -->
							<div class="new-arrival-slider">

								<!-- swiper -->
								<div class="swiper mySwiper">
									<!-- swiper wrapper -->
									<div class="swiper-wrapper">
										<!-- swiper slide -->

										{{ if collection_type == 'products' }}
										{{ products }}
										{{ /if }}

										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-3">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="{{ site_url }}/products/{{ slug }}" class="thumbnail">
														{{ thumb_image }}
														<img src="{{ url }}" alt="products img">
														{{ /thumb_image }}
													</a>

													<!-- -->
													<div class="product-badges">
														<span class="badge  onsale">-15%</span>
													</div>

													<!-- product hover button -->
													<div class="product-hover-button">
														<a href="{{ site_url }}/products/{{ slug }}" class="select-option-btn">Select option</a>
													</div>

													<!-- product buttons icon-->
													<div class="product-buttons-icon">
														<a href="#product-quick-popup" data-get_view_url="{{ site_url }}/products/{{ slug }}" class="arrow-icon quick-view-link"><span class="ti-eye"></span></a>
														<a href="javascript:;" data-product-id="{{ id }}" class="arrow-icon add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
														<a href="javascript:;" data-product-id="{{ id }}" class="arrow-icon add-to-wishlist-btn"><span class="ti-heart"></span></a>
													</div>
												</div>
												<!-- product content -->
												<div class="product-content">
													<!-- product tile -->
													<h3 class="product-title">
														<a href="{{ site_url }}/products/{{ slug }}">{{ title }}</a>
													</h3>
													<!-- product price -->
													<span class="price"><ins>${{ price }}</ins></span>
												</div>
											</div>
										</div>

										{{ if collection_type == 'products' }}
										{{ /products }}
										{{ /if }}


									</div>
									<!-- slider arrow -->
									<div class="slider-arrow">
										<div class="swiper-button-prev"><span class="ti-arrow-left"></span></div>
										<div class="swiper-button-next"><span class="ti-arrow-right"></span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End New arrival section -->