
			<!-- image with text section -->
			<section class="image-with-text-section section-two">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- image with text box-->
							<div class="image-with-text-box">
								<!-- row -->
								<div class="row align-items-center">
									<!-- column -->
									<div class="col-12 col-md-6">
										<!-- banner image-->
										<div class="banner-image">
											{{ offer_background_image_1 }}
											<img src="{{ url }}" alt="sale-event img">
											{{ /offer_background_image_1 }}
										</div>
									</div>
									<!-- column -->
									<div class="col-12  col-md-6">
										<!-- image with text des -->
										<div class="image-with-text-des">
											<h4 class="entry-subtitle">{{ offer_tag }}</h4>
											<h2 class="entry-title">{{ offer_title }}</h2>
											<p>{{ offer_description }}</p>
											{{ offer_buttons }}
											<a href="{{ site_url }}{{ offer_button_link }}" class="btn btn-dark btn-style-2">{{ offer_button_name }}</a>
											{{ /offer_buttons }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End image with text  section -->